body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.stopwatch {
  text-align: center;
}

.display {
  font-size: 2em;
  margin-bottom: 20px;
}

.controls button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1em;
}

.laps {
  list-style: none;
  padding: 0;
}

.laps li {
  margin-bottom: 5px;
}
#startBtn{
    color:rgb(86, 204, 204);
}
#pauseBtn{
    color:rgb(209, 201, 88);
}
#resetBtn{
    color:rgb(186, 80, 144);
}
#lapBtn{
    color: rgb(84, 210, 126);
}
.heading{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(177, 113, 238);
}
